.page-section {
	padding-top: 2em;
	max-width: 80em;
	border:none;
}
.page-info {
	width:fit-content;
}
.page-label {
	margin-right: .5em;
	float:left;
	font-weight: bold;
}
.page-value {
	float:left;
}
.main-title {
	font-size:2em;
	font-weight:bold;
}
.section-title {
	font-size:1.5em;
	font-weight:bold;
}
.card-padding {
	margin-top: .2em;
	padding-left: .5em;
	padding-top: 1em;
	width: 100%;
	border: .2em solid gray;
}
.card-holder{
	max-height: 40em;
	overflow-y: auto;
}
.card-info {
	margin-top:.15em;
	margin-bottom:.15em;
}
.card-label {
	font-weight: bold;
	margin-right: 1em;
}