<div class="card mx-auto page-section">
	<h4>Profile:</h4>
	<div class="profile-info">
		<span class="profile-label">First Name:</span>
		<span class="profile-value">{{customer.firstName}}</span>
	</div>
	<div class="profile-info">
		<span class="profile-label">Last Name:</span>
		<span class="profile-value">{{customer.lastName}}</span>
	</div>
	<div class="profile-info">
		<span class="profile-label">Email:</span>
		<span class="profile-value">{{customer.email}}</span>
	</div>

	<h4 style="margin-top:1em;margin-bottom: .5em">Reservations:</h4>
	<div class="card-holder">
		<app-reservation-card *ngFor='let reservation of reservations' [reservation]="reservation"></app-reservation-card>
	</div>
</div>