<div class="card mx-auto page-section">
	<span class="main-title">Profile:</span>
	<div class="page-info">
		<span class="page-label">First Name:</span>
		<span class="page-value">{{customer.firstName}}</span>
	</div>
	<div class="profile-info">
		<span class="page-label">Last Name:</span>
		<span class="page-value">{{customer.lastName}}</span>
	</div>
	<div class="page-info">
		<span class="page-label">Email:</span>
		<span class="page-value">{{customer.email}}</span>
	</div>

	<span class="section-title" style="margin-top:.5em;margin-bottom: .5em">Reservations:</span>
	<div class="card-holder">
		<app-reservation-card *ngFor='let reservation of reservations' [reservation]="reservation"></app-reservation-card>
	</div>
</div>